body {
  text-align: center;
  background-color: black;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #FFFFFF;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #7C3AED;
}

.green {
  background-color: #F97316;
}

.blue {
  background-color: #06B6D4;
}

.yellow {
  background-color: #F472B6;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.footColor{
  color: white;
}
